<h1 class="text-center my-4">Adicionar Produto</h1>

<div class="container" style="max-width: 80%;">
  <form action="/produtos/add" method="POST" class="mb-3 mx-auto">

    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" name="nome" required>
    </div>

    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <textarea class="form-control" name="descricao" rows="3"></textarea>
    </div>

    <div class="form-group">
      <label for="preco">Preço:</label>
      <input type="number" class="form-control" name="preco" step="0.01" required>
    </div>

    <div class="form-group">
      <label for="estoque">Estoque:</label>
      <input type="number" class="form-control" name="estoque" required>
    </div>

    <div class="form-group">
      <label for="categoria_id">Categoria:</label>
      <select class="form-control" name="categoria_id" required>
        <option value="">Selecione uma categoria</option>
        {{#each categorias}}
          <option value="{{this.id}}">{{this.nome}}</option>
        {{/each}}
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Salvar Produto</button>
  </form>
</div>
